@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Young+Serif&display=swap');
body{
    font-family: "Barlow Semi Condensed", sans-serif;
    background-color: hsl(214, 17%, 92%);
    min-height: 100vh;
    display:grid;
    place-content: center;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
img{
    display:block;
    max-width:100%;
}
.container{
    max-width: 1440px;
    margin:1rem;
    display:grid;
    grid-template-areas: 
    "item1 item1 item2 item3"
    "item4 item5 item5 item3";
    grid-auto-columns: 1fr;
    gap:1.5rem;
}
.item{
    padding: 2rem 2.65rem;
    border-radius: .5rem;
}
.item:nth-child(1) {
    grid-area: item1;
    background-color: hsl(263, 55%, 52%);
    position: relative;
}
.item:nth-child(1) .person{
    color: hsl(0, 0%, 100%);
    position: relative;
    z-index: 5;
}
.item:nth-child(1) .top-quote{
    color: hsl(0, 0%, 100%);
    position: relative;
    z-index: 5;
}
.item:nth-child(1) .bottom-quote{
    color: hsl(214, 17%, 92%);
}
.item:nth-child(1) .quote-icon{
    position: absolute;
    top:0;
    right: 100px;
    width:130px;
}
.item:nth-child(2) {
    grid-area: item2;
    background-color: hsl(217, 19%, 35%);
}
.item:nth-child(2) .person{
    color:      hsl(0, 0%, 100%);
}
.item:nth-child(2) .top-quote{
     color:hsl(0, 0%, 100%);
}
.item:nth-child(2) .bottom-quote{
    color:  hsl(0, 0%, 81%);
}
.item:nth-child(3) {
    grid-area: item3;
    background-color: hsl(0, 0%, 100%);
}
.item:nth-child(3) .person {
    color:hsl(217, 19%, 35%);
}
.item:nth-child(3) .top-quote{
    color: hsl(217, 19%, 35%);
}
.item:nth-child(3) .bottom-quote{
    color:hsl(224, 10%, 45%);
}
.item:nth-child(4) {
    grid-area: item4;
    background-color: hsl(0, 0%, 7%);
}
.item:nth-child(4) .person{
    color:hsl(0, 0%, 100%);
}
.item:nth-child(4) .top-quote{
    color:hsl(0, 0%, 100%);
}
.item:nth-child(4) .bottom-quote{
    color:hsl(0, 0%, 81%);
}
.item:nth-child(5) {
    grid-area: item5;
    background-color:hsl(0, 0%, 100%) ;
}
.item:nth-child(5) .person{
    color:hsl(217, 19%, 35%);
}
.item:nth-child(5) .top-quote{
    color:hsl(219, 29%, 14%);
}
.item.item:nth-child(5) .bottom-quote{
    color: hsl(224, 10%, 45%)
}
.item .person{
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    gap:1rem;
}
.item .person img{
    width:35px;
    border-radius: 50%;
}
.item .person h1{
    font-size: 1rem;
    font-weight: 600;
}
.item .top-quote{
    margin-bottom: 1.5rem;
    font-size:1.65rem ;
    font-weight: 600;
}
.item .bottom-quote{
    font-size: 1rem;
    line-height: 1.3;
}
@media (max-width:1024px) {
    .container{
        grid-template-areas: 
        "item1 item1 item2 item2"
        "item4 item4 item3 item3"
        "item4 item5 item5 item5";
    }
    .card .item:nth-child(1) .quote-icon{
        right:40px;
    }
}
@media (max-width:768px)  {
    .container{
        grid-template-areas:  
        "item1"
        "item2"
        "item3"
        "item4"
        "item5";
    }
}